# Ignore WordPress core files
wp-admin/
wp-includes/
wp-config.php

# Ignore plugins and themes
wp-content/plugins/
wp-content/themes/

# Ignore temporary files
wp-content/upgrade/
wp-content/backup-db/
wp-content/uploads/

# Ignore log files
wp-content/debug.log
wp-content/*.log

# Ignore unnecessary configuration files
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# Ignore WordPress installation files
license.txt
readme.html

# Ignore system and temporary files (Linux)
Thumbs.db
.DS_Store
.DS_Store?
.__MACOSX/
*.swp